
a{
    display: block;
    transition:all 0.5s;
}
ul,ol,li{
    list-style: none;
    padding: 0;
}
.material-icons{
    vertical-align: text-top;
}

input:focus::placeholder {
    color: transparent;
  }