.navbar-brand{
    background:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true')no-repeat center center ;
    background-size: 100%;
    text-indent:101%; 
    overflow:hidden; 
    white-space:nowrap;
    line-height: 1;
    
    @include size(128px,38px);
   
}

.nav-link{
    color:$gray-500;
   
    position: relative;
    line-height: 1.2;
    &::after{
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        display: block;
        bottom: -5px;
        background-color: $secondary;
        transition: all 0.5s;
    
    }
    &:hover{
        &::after{           
            width: 100%;
           
        }
    }
}