/* navbar */


$navbar-padding-x: 0; 
$navbar-nav-link-padding-x:  0;
$navbar-brand-padding-y:0;


/*color*/
$primary :#916000;
$secondary:#AC8A46;
$light:#E0E0E0;
$theme-colors: (
    'gray':#8d8d8d,
  "black": #000
);
$gray-500:#8D8D8D;
$link-color: $secondary;
$link-hover-color:$primary;


/*  font-size */
$font-size-base: 1rem;
$font-size: () !default;
$font-size: map-merge(
  (
    'xs': ($font-size-base * 0.75),
    'sm': ($font-size-base * 0.875),
    'base': $font-size-base,
    'lg': ($font-size-base * 1.25),
    'xl' :($font-size-base * 1.5),
    '2xl': ($font-size-base * 1.75),
    '3xl': ($font-size-base * 2),
    '4xl':($font-size-base * 2.5),
  ),
  $font-size
);

/*font */
$headings-margin-bottom:  0;
$paragraph-margin-bottom:  0;

/*border*/
$border-width:2px;

/*spacer */
$spacer: 1rem ;
$spacers: (
  0:0,
  1:($spacer * 0.25),
  2: ($spacer * .375),
  3: ($spacer * 0.5),
  4: ($spacer * .75),
  5: $spacer,
  6:($spacer * 1.25),
  7: ($spacer * 1.5),
  8: ($spacer * 1.75),
  9: ($spacer * 2),
  10: ($spacer * 2.25),
  11: ($spacer * 2.5),
  12: ($spacer * 3.25),
  13: ($spacer * 3.75),

);

/* input */
$input-placeholder-color: $gray-500;
$input-focus-color:$primary;
$input-focus-border-color:$primary;